.top ul{
    padding:15px 5px 10px 19px; 
}
h1{
    text-align: center;
    margin-top:20%;
    padding: 40px 0px;
    font-family: 'Merriweather', serif;
    color: floralwhite;
}
.top{
    background: rgba(53, 188, 163,0.7);
}
.top .btn{
 background: none;
 border: 2px solid green;
 font-size: 20px;
 padding: 15px;
 font-family: fantasy;
}
.top .btn:hover{
    background: green;
    border: 2px solid green;
}
.top ul li{
    margin: 0px 10px;
}
.middle{
    margin: 30px 50px;
}
.middle p{
    font-size: 26px;
    text-decoration: underline green;
    font-family: monospace;
    font-weight: 600;
}
.btn-success{
    padding: 15px;
    margin: 20px 0px;
}
.btn-success ul{
    margin: 29px 10px;
}