img{
    margin:30px 20px;
    width: 125px;
    height: 1.5m;
    float: left;
}
#top{
    text-align: center;
    padding: 17px;
}

#top p{
   color:lightcoral;
    word-spacing: 2px;  
}
.content{
    margin: 15px 130px;
    padding: 20px;
}
ul p{
    color:black;
    font-size: 18px;
    font-weight: 400;
    font-family: cursive;
    text-decoration: underline;
}
.first{
    float: left;
    position: absolute;
    left:23%;
}
.second{
    float: right;
     position: absolute;
    right:20%;
}
ul li{
    padding: 10px 59px;
}
#content {
top:80%;
position: absolute;
margin: 10px 70px;
}
.third{
    margin: 10px 90px;
    float: left;
    padding: 0px 190px;

}
.fourth{
    margin: 10px 40px;
    float: right;
    padding: 10px 70px;
}
a{
    color: #FF9C33;
}
p{
    
}
