body{
    margin: 30px 100px;
    background-image: url("IMG_355968.jpg");
}

h1,h1+p{
    margin: 20px 0px;
    text-align: center;
    padding: 10px 0px;
    color: snow;
}
div {
    margin:30px 50px;
    color: black;
    background-color:white;
    padding: 20px;
}
ul{
    text-align: center;
    padding: 13px 0px;
}
li{
    list-style: none;
    background-color: whitesmoke;
    display:inline-block;
    padding: 10px;
    color: firebrick;
}
h1{
    font-size: 66px;
}
h1+p{
    font-size: 16px;
    word-spacing: 2px;
    font-family: cursive;
}
ul p{
    font-size: 25px;
    font-family: serif;
    
}
div > p{
   padding: 10px 15px;
   margin: 0px 30px;
    font-family: monospace;
    font-weight: bold;
    word-spacing: 3px;
    letter-spacing: 2px;
}
li:hover{
    background-color: skyblue;
}
